.sombra {
  box-shadow: 3px 3px 10px #96260a;

}
h1{
  font-family: "Lobster Two", sans-serif;

}
span:hover{
  color: blueviolet;
}

button {
  border: none;
  background-color: white;
  color: white;
  font-size: 20px;
}

button:hover {
  color: blueviolet;
}

input {
  border: none;
  width: 80%;
  padding: 10px;
  text-align: center;
}

